[submodule "client/js/jquery/jquery.scraggable"]
	path = client/js/jquery/jquery.scraggable
	url = git@github.com:borbit/jquery.scraggable.git
[submodule "client/js/jquery/jquery.viewport"]
	path = client/js/jquery/jquery.viewport
	url = git@github.com:borbit/jquery.viewport.git
[submodule "client/js/jquery/jquery.scrolla"]
	path = client/js/jquery/jquery.scrolla
	url = git@github.com:borbit/jquery.scrolla.git
[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = https://github.com/muchmala/Socket.IO-node.git
[submodule "client/js/socket.io"]
	path = client/js/socket.io
	url = git@github.com:borbit/Socket.IO.git
[submodule "chef/cookbooks/opscode"]
	path = chef/cookbooks/opscode
	url = https://github.com/lohika/opscode-cookbooks.git
[submodule "chef/cookbooks/mdxp"]
	path = chef/cookbooks/mdxp
	url = https://github.com/lohika/mdxp-cookbooks.git
[submodule "node_modules/socket.io-cluster"]
	path = node_modules/socket.io-cluster
	url = https://github.com/muchmala/socket.io-cluster.git
