.vagrant
config.local.js
client/css/minified.css
client/js/minified.js
node_modules/.bin/
node_modules/canvas/
node_modules/ejs/
node_modules/express/
node_modules/http-proxy/
node_modules/mongoose/
node_modules/opts/
