.dialog.loading
#menu .loading
#auth .loading span
#signup .loading span
    background-image url('/img/loader.gif')
    
#createPuzzle .uploading
    background-image url('/img/loader_black.gif')
    
#selected
    background-image url(/img/pieces.png)
