#complete
    display none
    padding-bottom 10px
    width 440px
    text-align center

#complete h1
    padding 10px 0 5px 0
    font-weight normal
    font-size 24px

#complete h2
    margin 10px auto
    width 300px
    text-align center
    font-weight bold
    font-size 11px

#complete section
    margin 0 auto
    padding-bottom 10px
    width 300px
    line-height 10px
    text-align left
    font-size 11px

#complete section .button
    display inline-block
    font-weight normal

#complete section ul
    width 300px
    margin 0 auto

#complete section ul li
    display table
    padding-bottom 10px
    width 300px

#complete section span
    display table-cell
    white-space nowrap

#complete section .num
    width 5%
    font-family georgia

#complete section .dots
    width 95%
    border-bottom 1px dotted #aaa

#complete section .name
    padding-right 5px
    letter-spacing 1px

#complete section .score,
#complete section .value
    padding-left 5px
    letter-spacing 1px
