#createPuzzle
    display none
    padding 10px 0
    width 440px

#createPuzzle div
    line-height 16px
    margin 10px 0 0 0
    text-align center

#createPuzzle div a
    color #00b
    &:first-child
        margin-top 0

#createPuzzle input[type="text"]
    height 30px
    width 240px
    font-size 20px
    padding 0 5px

#createPuzzle input[type="radio"]
    margin-top 10px

#createPuzzle li
    display inline-block
    width 50px
    font-size 14px
    font-weight bold

#createPuzzle label
    cursor pointer

#createPuzzle .error
    margin 0

#createPuzzle .error span
    padding 1px 5px
    background #a00
    color #fff

#createPuzzle .uploading
    display inline-block
    padding 0 0 0 22px
    height 30px
    line-height 30px
    font-size 14px
    font-weight bold
    background-repeat no-repeat
    background-position left center

#createPuzzle section
    display none
    margin 30px 0
    line-height 18px
    text-align center
    font-family Arial

#createPuzzle section strong
    font-size 14px

#createPuzzle section .button.big
    margin-top 10px
    text-decoration none

#createPuzzle .success
    display none
