body {
    font-size:14px;
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}

body.fallback {
    background:url('/img/bg.jpg') repeat;
}

input {
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}

#viewport {
    position:absolute !important;
    overflow:hidden;
    height:100%;
    width:100%;
}

.viewportContent {
    z-index:1000;
}

.viewportContent canvas {
    position:absolute;
}

#loading {
    position:absolute;
    z-index:100;
    top:-28px;
    left:50%;
    margin-left:-70px;
    padding:0 10px;
    height:28px;
    width:95px;
    line-height:26px;
    background:rgba(0,0,0,0.7);
    color:#fff;
    font-size:10px;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
}

#loading div {
    background:url('/img/loadinfo.net.gif') no-repeat right 5px;
}

.button {
    display:inline-block;
    padding:0 10px;
    height:14px;
    line-height:12px;
    font-size:10px;
    color:#000;
    cursor:pointer;
    text-align:center;
    background:#fff;

    -webkit-box-shadow:0 0 2px #000;
    -moz-box-shadow:0 0 2px #000;
    box-shadow:0 0 2px #000;
    
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(180,180,180)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(180,180,180) 0%,
        rgb(255,255,255) 100%
    );
    background-image: -o-linear-gradient(
        center bottom,
        rgb(180,180,180) 0%,
        rgb(255,255,255) 100%
    );
}

.button:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(210,210,210)),
        color-stop(1, rgb(255,255,255))
    );
    background: -moz-linear-gradient(
        center bottom,
        rgb(210,210,210) 0%,
        rgb(255,255,255) 100%
    );
    background-image: -o-linear-gradient(
        center bottom,
        rgb(180,180,180) 0%,
        rgb(255,255,255) 100%
    );
}

.button.big {
    padding:0 15px;
    height:30px;
    line-height:30px;
    font-size:18px;
    
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,255,0)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(255,255,50) 0%,
        rgb(255,255,255) 100%
    );
    background-image: -o-linear-gradient(
        center bottom,
        rgb(255,255,50) 0%,
        rgb(255,255,255) 100%
    );
}

.button.big:hover {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(255,255,100)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(255,255,120) 0%,
        rgb(255,255,255) 100%
    );
    background-image: -o-linear-gradient(
        center bottom,
        rgb(255,255,120) 0%,
        rgb(255,255,255) 100%
    );
}