nav {
    display:none;
    position:absolute;
    z-index:1001;
    top:0px;
    right:0px;
    width:170px;
    background:rgba(0,0,0,0.7);
    color:#fff; 

    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
}

nav.loading {
    background-image:url(/img/loader.gif);
    background-repeat:no-repeat;
    background-position:center;
}

nav.filled.loading {
    background-position:2px 2px;
}

nav section {
    display:block;
    padding:10px 0 10px 10px;
    font-size:10px;
    text-align:center;
}

nav header {
    display:none;
    margin-right:10px;
    color:#ccc;
}

nav header h1 {
    font-weight:normal;
}
nav header h1 span {
    display:inline-block;
    margin:3px 0 0 0;
    font-size:24px;
    font-weight:bold;
    color:#fff;
    cursor:pointer;
}

nav header a {
    display:inline-block;
    height:18px;
    width:18px;
}

nav header .twitter {
    background:url(/img/twitter.png) no-repeat center;
}
nav header .ideas {
    background:url(/img/ideas.png) no-repeat center;
}
nav header .howto {
    background:url(/img/question.gif) no-repeat center;
}

nav .statistics {
    display:none;
    clear:both;
    line-height:14px;
    text-align:left;
}

nav .statistics li,
nav .leadersboard li {
    display:block;
    padding:0 0 2px 0;
    height:12px;
    line-height:12px;
}

nav .statistics span {
    float:right;
    overflow:hidden;
    display:inline-block;
    padding-left:5px;
    text-align:right;
    width:35px;
}

nav ul {
    margin:5px 10px 0 0;
    padding:5px;
    border:1px solid #fff;
    background:rgba(0,0,0,0.5);
    -moz-border-radius:3px;
    border-radius:3px;
}

nav .leadersboard {
    display:none;
    margin:7px 0 10px 0;
    text-align:left;
}

nav .leadersboard .button {
    float:right;
    padding:0 6px;
    margin-right:10px;
    line-height:10px;
    height:12px;
}

nav .leadersboard li.empty {
    text-align:center;
}

nav .leadersboard .status {
    float:left;
    display:block;
    margin:4px 5px 0 1px;
    height:6px;
    width:6px;
    background:#6f0;
    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
nav .leadersboard .status.offline {
    background:#ddd;
}

nav .leadersboard .name {
    overflow:hidden;
    display:inline-block;
    margin-right:5px;
    white-space:nowrap;
    width:86px;
}

nav .leadersboard .num {
    overflow:hidden;
    display:inline-block;
    text-align:right;
    width:35px;
}

nav .leadersboard .pts {
    margin-left:3px;
    font-family:Arial;
    color:#ddd;
}

nav .user {
    visibility:hidden;
    margin-right:10px;
}

nav.filled .user {
    visibility:visible;
    margin-right:10px;
}

nav .user .num {
    margin:0 2px;
    color:#fff;
    font-size:20px;
    font-family:Georgia;
    text-shadow:0 0 10px #fff;
}

nav .user .name {
    margin-bottom:2px;
}

nav .user .pts {
    color:#ddd;
}

nav .expcol {
    display:none;
    position:absolute;
    top:5px;
    right:5px;
    padding:0;
    width:14px;
}

nav .expcol:before { content: '+'; }
nav .expcol.opened:before { content: '-'; }