.dialog {
    display:none;
    position:absolute;
    padding:20px;
    background:rgba(0,0,0,0.7);
    color:#fff;
    font-size:11px;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
}

.dialog .close {
    display:block;
    float:left;
    position:absolute;
    top:10px;
    right:20px;
    padding:0 5px;
    height:14px;
    line-height:12px;
    background:#fff;
    color:#000;
    text-align:center;
    font-size:10px;
    cursor:pointer;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}

.dialog .title {
    margin-bottom:8px;
}

.dialog .inputText {
    padding:0 5px;
    height:30px;
    width:240px;
    border:none;
    font-size:20px;
}