#panel {
    display:none;
    position:absolute;
    top:10px;
    right:10px;
    width:170px;
    background:rgba(0,0,0,0.7);
    color:#fff;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
}

#panel .content {
    padding:10px 0 10px 10px;
    font-size:10px;
    text-align:center;
}

#panel .logo {
    display:none;
    margin-right:10px;
    color:#ccc;
}

#panel .logo h1 {
    margin:0 0 5px 0;
    color:#fff;
    font-size:22px;
    font-weight:bold;
    text-align:center;
    text-shadow:0 0 15px #fff;
}

#panel .backgrounds {
    display:none;
    text-align:left;
}

#panel .backgrounds ul {
    float:left;
    margin:5px 0 10px 18px;
    width:120px;
}

#panel .backgrounds li {
    float:left;
    margin:5px 5px 0 0;
    width:8px;
    height:8px;
    border:1px solid #ddd;
    cursor:pointer;
}

#panel .backgrounds li:hover,
#panel .backgrounds li.selected {
    margin:4px 4px -1px -1px;
    width:8px;
    height:8px;
    border:2px solid #ddd;
}

#panel .statistics {
    display:none;
    clear:both;
    line-height:14px;
    text-align:left;
}

#panel .statistics span {
    float:right;
    display:inline-block;
    padding-left:5px;
    width:40px;
    font-family:Georgia;
}

#panel .borders {
    margin:5px 10px 0 0;
    padding:5px;
    border:1px solid #fff;
    background:rgba(0,0,0,0.5);
    -moz-border-radius:5px;
    border-radius:5px;
}

#panel .leadersboard {
    display:none;
    margin:5px 0;
    line-height:12px;
    text-align:left;
}

#panel .leadersboard .name {
    display:inline-block;
    width:95px;
}

#panel .leadersboard .num {
    font-family:Georgia;
}

#panel .leadersboard .pts {
    margin-left:3px;
    color:#ddd;
}

#panel .user {
    margin-right:10px;
}

#panel .user .num {
    margin:0 2px;
    color:#fff;
    font-size:20px;
    font-family:Georgia;
    text-shadow:0 0 10px #fff;
}

#panel .user .name {
    display:inline-block;
    margin-bottom:2px;
    border-bottom:1px dotted #ddd;
    font-size:10px;
    color:#fff;
    cursor:pointer;
}

#panel .user .name:hover {
    border-bottom-color:transparent;
}

#panel .user .pts {
    color:#ddd;
}

#panel .expcol {
    display:inline-block;
    position:absolute;
    top:5px;
    right:5px;
    height:14px;
    width:14px;
    line-height:12px;
    background:#fff;
    color:#000;
    text-align:center;
    cursor:pointer;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
}

#panel .expcol:before {
    content: '+';
}

#panel .expcol.opened:before {
    content: '-';
}