<div id="browser">
    <h1>:(</h1>
    <h1>Sorry... Your browser is not supported.</h1>
    <p>
        You are probably using an old browser or something exotic...
        Try to update it to last version or just download one of the
        following: 
        <a href="http://www.google.com/chrome">Chrome</a>,
        <a href="http://www.mozilla.com/en-US/firefox/new/">Firefox</a>,
        <a href="http://www.apple.com/safari/">Safari</a> or
        <a href="http://www.opera.com/">Opera</a>.
        And come back :) You will see a very addictive and fun puzzle you can play
        with your friends.
    </p>
    <fb:like href="http://muchmala.com/" layout="button_count" show_faces="false" width="150" font="lucida grande"></fb:like>
</div>