<div id="viewport"></div>
<div id="selected"></div>

<%- partial('dialogs/menu') %>
<%- partial('dialogs/name') %>
<%- partial('dialogs/complete') %>
<%- partial('panel') %>
<%- partial('browser') %>

<script src="/socket.io/socket.io.js"></script>
<% if (config.production) { %>
<script src="/js/minified.js"></script>
<% } else { %>
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/jquery/jquery-ui.js"></script>
<script src="/js/jquery/jquery.scraggable/jquery.scraggable.js"></script>
<script src="/js/jquery/jquery.viewport/jquery.viewport.js"></script>
<script src="/js/jquery/jquery.scrolla/jquery.scrolla.js"></script>

<script src="/shared/underscore.js"></script>
<script src="/shared/flow.js"></script>
<script src="/shared/messages.js"></script>

<script src="/js/observer.js"></script>
<script src="/js/preloader.js"></script>
<script src="/js/puzzle.js"></script>
<script src="/js/piece.js"></script>
<script src="/js/server.js"></script>
<script src="/js/storage.js"></script>
<script src="/js/viewport.js"></script>
<script src="/js/dialog.js"></script>
<script src="/js/panel.js"></script>
<script src="/js/app.js"></script>
<% } %>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>