<script type="text/plain" id="menu">
<div class="menu">
    <ul class="tabs">
        <li data-page="welcome" class="button sel"><i></i>Getting started</li>
        <li data-page="leaders" class="button"><i></i>Top 20 Leaders</li>
        <li data-page="puzzles" class="button"><i></i>Previous Puzzles</li>
        <li data-page="credits" class="button"><i></i>Credits</li>
    </ul>

    <div class="page welcome" data-name="welcome">
        <h1>How to play</h1>
        <p>
            &raquo; Just click on a piece then on another and they will be swapped.<br/>
            &raquo; Pieces will not be swapped if they don't have the same form.<br/>
            &raquo; You can't swap pieces set to right place or locked by another player.<br/>
            &raquo; Red color means that piece locked by another player.<br/>
            &raquo; Dim piece is a piece that isn't on its right place.<br/>
            &raquo; Blue piece is a piece you have selected to swap.<br/>
        </p>

        <div class="start">
            <div class="button big">Play Puzzle</div>
        </div>
    </div>

    <div class="page leaders" data-name="leaders" style="display:none;"><ul></ul></div>
    <div class="page puzzles" data-name="puzzles" style="display:none;"><p>Isn't implemented yet :(</p></div>
    <div class="page credits" data-name="credits" style="display:none;"><p>Isn't implemented yet :(</p></div>
</div>
</script>