<nav>
<aside><div></div></aside>
<section>
    <header>
        Madness? No! This is
        <h1>Muchmala</h1>
        <h2>massively multiplayer online puzzle</h2>
    </header>
    
    <div class="progressbar">
        <i></i><span>0%</span>
    </div>
        
    <div class="user borders">
        <span class="score">Score:</span>
        <span class="num">0</span>
        <span class="pts">pts.</span><br/>
        <span class="button name">anonymous</span><br/>
        <a href="#">Go to my profile</a>
    </div>
    
    <div class="statistics">
        Statistics:
        <ul>
            <li>connected<span class="connected">0</span></li>
            <li>complete<span class="complete">0</span></li>
            <li>time spent<span class="timeSpent">00:00</span></li>
            <li>quantity<span class="quantity">0</span></li>
            <li>swaps<span class="swaps">0</span></li>
        </ul>
    </div>
    
    <div class="leadersboard">
        Leaders board: <div class="button">score</div>
        <div class="borders">
        <div class="viewport"><div class="list"><em class="empty">It is empty yet :)</em></div></div>
        </div>
    </div>
    
    <span class="button openMenu">Open game menu</span>
        
    <footer>
        <div class="stayTuned">
            Stay tuned on<br/>
            <a href="http://twitter.com/html5puzzle" target="_blank">Our Twitter</a>
            (<a href="http://twitter.com/html5puzzle" target="_blank">@html5puzzle</a>)
            <a href="http://facebook.com/muchmala" target="_blank">Facebook page</a>
            (<a href="http://facebook.com/muchmala" target="_blank">@muchmala</a>)
        </div>
        <fb:like href="http://muchmala.com/" layout="button_count" show_faces="false"></fb:like>
    </footer>
</section>
</nav>