<nav class="loading">
<section>
    <div class="button expcol"></div>
    <header>
        <h1>Madness? No! This is <span>Muchmala</span></h1>
        <a href="http://twitter.com/html5puzzle">@html5puzzle</a>
    </header>
    <div class="statistics">
        Statistics:
        <ul>
            <li>connected<span class="connected"></span></li>
            <li>complete<span class="complete"></span></li>
            <li>time spent<span class="timeSpent"></span></li>
            <li>quantity<span class="quantity"></span></li>
            <li>swaps<span class="swaps"></span></li>
        </ul>
    </div>
    <div class="leadersboard">
        Leaders board: <div class="button">score</div>
        <ul>
            <li class="empty">It is empty yet :)</li>
        </ul>
    </div>
    <div class="user">
        <span class="button name"></span><br/>
        <span class="score">Score:</span>
        <span class="num"></span>
        <span class="pts">pts.</span>
    </div>
</section>
</nav>