<nav class="loading">
<section>
    <div class="button expcol"></div>
    <header>
        <h1>Madness? No! This is <span>Muchmala</span></h1>
        <a href="javascript:void(0);" class="howto"></a>
        <a href="http://puzzle.idea.informer.com" target="_blank" class="ideas"></a>
        <a href="http://twitter.com/html5puzzle" target="_blank" class="twitter"></a>
    </header>
    <div class="statistics">
        Statistics:
        <ul>
            <li>connected<span class="connected"></span></li>
            <li>complete<span class="complete"></span></li>
            <li>time spent<span class="timeSpent"></span></li>
            <li>quantity<span class="quantity"></span></li>
            <li>swaps<span class="swaps"></span></li>
        </ul>
    </div>
    <div class="leadersboard">
        Leaders board: <div class="button">score</div>
		<div class="borders">
		<div class="viewport"><div class="list"><em class="empty">It is empty yet :)</em></div></div>
		</div>
    </div>
    <div class="user">
        <span class="button name"></span><br/>
        <span class="score">Score:</span>
        <span class="num"></span>
        <span class="pts">pts.</span>
    </div>
</section>
</nav>