<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Massively Multiplayer Online Puzzle.</title> 
    <% if (config.production) { %>
    <link rel="stylesheet" href="http://<%=config.STATIC_HOST%>/<%=config.version%>/css/minified.css" />
    <% } else { %>
    <link rel="stylesheet" href="http://<%=config.STATIC_HOST%>/css/reset.css" />
    <link rel="stylesheet" href="http://<%=config.STATIC_HOST%>/css/main.css" />
    <link rel="stylesheet" href="http://<%=config.STATIC_HOST%>/css/panel.css" />
    <link rel="stylesheet" href="http://<%=config.STATIC_HOST%>/css/dialog.css" />
    <link rel="stylesheet" href="http://<%=config.STATIC_HOST%>/css/menu.css" />
    <link rel="stylesheet" href="http://<%=config.STATIC_HOST%>/css/complete.css" />
    <link rel="stylesheet" href="http://<%=config.STATIC_HOST%>/css/browser.css" />
    <% } %>
    <!--[if lte IE 8]>
    <script>
        document.createElement('nav');
        document.createElement('section');
    </script>
    <![endif]-->
</head>
<body class="fallback">
<%- body %>
<% if (config.production) { %>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22398110-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<% } %>
</body>
</html>