<div id="complete">
    <h1>Well Done! It is Complete!</h1>
    <section>
        <h2>Leaders <span class="button sort">by score</span></h2>
        <ul class="leaders"></ul>
        <h2>Statistics</h2>
        <ul>
            <li class="pieces">
                <span class="name">pieces count</span>
                <span class="dots"></span>
                <span class="value">400</span>
            </li>
            <li class="participants">
                <span class="name">participants</span>
                <span class="dots"></span>
                <span class="value">10</span>
            </li>
            <li class="timespent">
                <span class="name">time spent</span>
                <span class="dots"></span>
                <span class="value">10:45</span></li>
            <li class="swaps">
                <span class="name">swaps</span>
                <span class="dots"></span>
                <span class="value">6723</span>
            </li>
        </ul>
    </section>

    <div class="button big">Next Puzzle</div>
</div>