<div id="menu">
    <ul class="tabs">
        <li data-page="welcome" class="button sel"><i></i>Welcome</li>
        <li data-page="howtoplay" class="button"><i></i>How to play</li>
        <li data-page="leaders" class="button"><i></i>Top 20 Leaders</li>
        <li data-page="puzzles" class="button"><i></i>Puzzles</li>
        <li data-page="credits" class="button"><i></i>Credits</li>
    </ul>

    <div class="page welcome" data-name="welcome">
        <h1>Muchmala</h1>
        <h2>Massively Multiplayer Online Puzzle</h2>
        <fb:like href="http://muchmala.com/" layout="button_count"
                                             show_faces="false"
                                             width="150"
                                             font="lucida grande"></fb:like>
        <div class="button big loading">Loading...</div>
        <p>
            * Loading can take a while, so you could find something useful<br/> in
            the <span class="button">how to play</span> page untill puzzle is loaded.
        </p>
    </div>

    <div class="page howtoplay" data-name="howtoplay" style="display:none;">
        <h1>Rules</h1>
        <p>
            &raquo; Click on (select) a piece then on another and they will be swapped.<br/>
            &raquo; Pieces will not be swapped if they don't have the same form.<br/>
            &raquo; You can't select or swap pieces set to right place or locked by another player.<br/>
            &raquo; Selected piece will be automatically unselected after 20 seconds.
        </p>

        <h1>Legend</h1>
        <p>
            &raquo; <span class="red">Red piece</span> - locked by another player.<br/>
            &raquo; <span class="dim">Dim piece</span> - isn't on its right place.<br/>
            &raquo; <span class="blue">Blue piece</span> - selected by you.<br/>
            &raquo; <span class="loading"></span> - loading.
        </p>
    </div>

    <div class="page leaders loading" data-name="leaders" style="display:none;"><ul></ul></div>
    <div class="page puzzles" data-name="puzzles" style="display:none;"><p>Not implemented yet :(</p></div>
    <div class="page credits" data-name="credits" style="display:none;"><p>Not implemented yet :(</p></div>
</div>