body {
    font-size:14px;
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}

input {
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}

#display {
    position:absolute;
    overflow:hidden;
    height:100%;
    width:100%;
}

#binder {
    position:relative;
}

#viewport {
    position:relative;
}

#loading {
    position:absolute;
    z-index:100;
    top:-28px;
    left:50%;
    margin-left:-70px;
    padding-left:10px;
    height:28px;
    width:95px;
    line-height:26px;
    background:rgba(0,0,0,0.7) url('/images/loadinfo.net.gif') no-repeat 83px 5px;
    color:#fff;
    font-size:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
}

#loading img {
    display:inline-block;
}