body {
    font-size:14px;
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}

#display {
    position:absolute;
    overflow:hidden;
    height:100%;
    width:100%;
}

#binder {
    position:relative;
}

#viewport {
    position:relative;
}

#loading {
    position:absolute;
    z-index:100;
    top:-28px;
    left:50%;
    margin-left:-70px;
    padding-left:10px;
    height:28px;
    width:95px;
    line-height:26px;
    background:rgba(0,0,0,0.7) url('/images/loadinfo.net.gif') no-repeat 83px 5px;
    color:#fff;
    font-size:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
}

#loading img {
    display:inline-block;
}

#panel {
    display:none;
    position:absolute;
    top:-245px;
    right:-30px;
    width:170px;
    background:rgba(0,0,0,0.7);
    color:#fff;
    cursor:pointer;
    border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
}

#panel .content {
    padding:10px 0 10px 10px;
    font-size:10px;
    text-align:center;
}

#panel .logo {
    color:#ccc;
}

#panel .logo h1 {
    margin:0 0 5px 0;
    color:#fff;
    font-size:22px;
    font-weight:bold;
    text-align:center;
    text-shadow:0 0 15px #fff;
}

#panel .backgrounds {
    text-align:left;
}

#panel .backgrounds ul {
    float:left;
    margin:5px 0 10px 18px;
    width:120px;
}

#panel .backgrounds li {
    float:left;
    margin:5px 5px 0 0;
    width:8px;
    height:8px;
    border:1px solid #ddd;
}

#panel .statistics {
    clear:both;
    line-height:12px;
    text-align:left;
}

#panel .statistics span {
    display:inline-block;
    padding-right:5px;
    width:70px;
    font-family:Georgia;
    text-align:right;
}

#panel .leadersboard {
    margin-top:5px;
    line-height:12px;
    text-align:left;
}

#panel .leadersboard .borders {
    margin:5px 10px 0 0;
    padding:5px;
    border:1px solid #fff;
    background:rgba(0,0,0,0.5);
    -moz-border-radius:5px;
    border-radius:5px;
}

#panel .leadersboard .name {
    display:inline-block;
    width:95px;
}

#panel .leadersboard .num {
    font-family:Georgia;
}

#panel .score {
    margin-top:5px;
    text-align:left;
}

#panel .score .num {
    margin:0 2px;
    font-size:20px;
    font-family:Georgia;
    color:#fff;
    text-shadow:0 0 10px #fff;
}

#panel .score .pts {
    color:#ddd;
}