body {
    font-size:14px;
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}

input {
    font-family:'Helvetica Neue', Helvetica, sans-serif;
}

#display {
    position:absolute;
    overflow:hidden;
    height:100%;
    width:100%;
}

#binder {
    position:relative;
}

#viewport {
    position:relative;
}

#loading {
    position:absolute;
    z-index:100;
    top:-28px;
    left:50%;
    margin-left:-70px;
    padding:0 10px;
    height:28px;
    width:95px;
    line-height:26px;
    background:rgba(0,0,0,0.7);
    color:#fff;
    font-size:10px;
    -webkit-box-shadow:0 0 5px #fff;
    -moz-box-shadow:0 0 5px #fff;
}

#loading div {
    background:url('/images/loadinfo.net.gif') no-repeat right 5px;
}